<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>
  <body>
    <article role="main">
      <section>
        <p><font class="user-name-text-style">abuzzany</font> git:(<font class="branch-name-text-style">master</font>)$: ls</p>
        <ul class="ls-cmd">
          <li class="directory-link">
              <a href="https://github.com/abuzany" target="_blank">github/</a>
          </li>
          <li class="directory-link">
              <a href="https://www.instagram.com/abuzzany" target="_blank">instagram/</a>
          </li>
          <li class="directory-link">
              <a href="https://www.goodreads.com/user/show/76187423-angel-buzany" target="_blank">gooreads/</a>
          </li>
        </ul>
      </section>
      <section>
        <p>abuzzany git:(<font class="branch-name-text-style">master</font>)$: man abuzzany</p>
        <section class="man-title">
          <h3>ABUZZANY(1)  GNU ABUZZANY Manual  ABUZZANY(1)</h3>
        </section>
        <h3>NOMBRE</h3>
        <section class="man-content">
          <p>Angel Buzany</p>
        </section>
        <h3>DESCRIPCION</h3>
        <section class="man-content">
          <p>
            Hola Mundo!!! mi nombre es Angel Buzany, soy Ingeniero de Software
            viviendo en la bonita Ciudad de México ❤️.
          </br>
          </br>
            Me gusta desarrollar principalmente en backend aunque no estoy peleado con hacer
            frontend. Mi stack tecnologico esta basado mayormente en Ruby como
            lenguaje de programación 💎 y Rails como framework web, aunque también me
            gusta hace cosar en Elixir 💧 y Rust.
            Otras tecnologias con las que tmbién me gusta jugar son Postgress, Mongo DB,
            AWS, React, etc.
          </br>
          </br>
            Actualmente trabajo como Sr. Software Engineer en Resuelve, desarrollando
            una plataforma llamada Enconta, la cual tiene como objetivo automatizar la
            contabilida en México.
          </p>
        </section>
      </section>
      <section>
        <h3>CONTACTO</h3>
        <section class="man-content">
          <ul class="ls-cmd">
            <li>
              <a>linkedin: abuzany</a>
            </li>
            <li>
              <a>email: abuzzany@gmail.com</a>
            </li>
            <li>
              <a>twitter: @abuzzany</a>
            </li>
          </ul>
        </section>
      </section>
      <section>
        <h3>AUTHOR</h3>
        <section class="man-content">
          <p>Escrito por Angel Buzany</p>
        </section>
      </section>
      <section>
        <h3>COPYRIGHT</h3>
        <section class="man-content">
          <p>Copyright© 2018 Free Software Foundation, Inc. License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html.
            This is free software: you are free to change and redistribute it. There is NO WARRANTY, to the extent permitted by law.
          </p>
        </section>
      </section>
    </article>
  </body>
</html>
